
$primary-color: #090a2a;
$secondary-color: #158601;
$tertiary-color: #5c5e7e;

$btn-color: #dfdfdf;
$btn-hover: #b1b1b1;
$text-color: #00010e;
$tab-color: #158601;
$btn-text-color: #00010e;
$border-color: $btn-color;

$grey-text: #a0a0a0;